In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
spx = pd.read_csv("raw_data.csv",index_col=0,parse_dates=True)

In [3]:
weekly = pd.DataFrame({'Close': spx.Close.resample('W-SAT').last(), 'High':spx.High.resample('W-SAT').max(), 'Low':spx.Low.resample('W-SAT').min() })

In [4]:
weekly.tail()

                  Close         High          Low
Date
2019-12-07  3145.909912  3150.600098  3070.330078
2019-12-14  3168.800049  3182.679932  3126.090088
2019-12-21  3221.219971  3225.649902  3183.629883
2019-12-28  3240.020020  3247.929932  3220.510010
2020-01-04  3230.780029  3240.919922  3212.030029

In [7]:
changeWeekly = pd.DataFrame()
changeWeekly['changeClose'] = np.log(weekly.Close/weekly.Close.shift(1))
changeWeekly['changeHC'] = np.log(weekly.High/weekly.Close.shift(1))
changeWeekly['changeLC'] = np.log(weekly.Low/weekly.Close.shift(1))
changeWeekly['nextchange'] = changeWeekly['changeClose'].shift(-1)
changeWeekly.dropna(inplace=True)

In [8]:
changeWeekly.tail()

            changeClose  changeHC  changeLC  nextchange
Date
2019-11-30     0.009819  0.014038  0.002296    0.001568
2019-12-07     0.001568  0.003058 -0.022750    0.007250
2019-12-14     0.007250  0.011620 -0.006320    0.016407
2019-12-21     0.016407  0.017781  0.004669    0.005819
2019-12-28     0.005819  0.008258 -0.000220   -0.002856

In [9]:
changeWeekly.to_csv('transformed_data.csv')